/*
 * Project: Certifico
 * File: Main styles
 */

// ==========================================================================
// _VARIABLES
// ==========================================================================
@min-width: 320px;
@md-width: 768px;
@lg-width: 850px;
@xl-width: 1130px;

@sm: ~"(min-width: 568px)";
@md: ~"(min-width: 768px)";
@lg: ~"(min-width: 1000px)";
@xl: ~"(min-width: 1280px)";

@font-segoe: 'Segoe Ui', Helvetica, sans-serif;
@font-daxline: 'Daxline Pro', Helvetica, sans-serif;

@color-white: #fff;
@color-black: #000;
@color-blue-light: #59d0fa;
@color-blue: #2db8e9;
@color-gray-light: #ededed;
@color-pink-light: #fafafb;
@color-gray: #d3d1ce;
@color-dark: #414141;
@color-orange: #f26141;
@color-orange-light: #ff8568;

@duration: .2s ease;
@duration-menu: .4s ease;

@margin-sm: 18px;
@margin-md: 28px;

@images: '../img';
// ==========================================================================
// _FONTS
// ========================================================================== */
/*** Daxline Pro ***/
@font-face {
  font-family: 'Daxline Pro';
  src: url('../fonts/daxlinepro-thin-webfont.eot');
  src: local('☺'), url('../fonts/daxlinepro-thin-webfont.woff') format('woff'), url('../fonts/daxlinepro-thin-webfont.ttf') format('truetype'), url('../fonts/daxlinepro-thin-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Daxline Pro';
  src: url('../fonts/daxlinepro-bold-webfont.eot');
  src: local('☺'), url('../fonts/daxlinepro-bold-webfont.woff') format('woff'), url('../fonts/daxlinepro-bold-webfont.ttf') format('truetype'), url('../fonts/daxlinepro-bold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*** Segoe Ui ***/
@font-face {
  font-family: 'Segoe Ui';
  src: url('../fonts/segoeui-light-webfont.eot');
  src: local('☺'), url('../fonts/segoeui-light-webfont.woff') format('woff'), url('../fonts/segoeui-light-webfont.ttf') format('truetype'), url('../fonts/segoeui-light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe Ui';
  src: url('../fonts/segoeui-semibold-webfont.eot');
  src: local('☺'), url('../fonts/segoeui-semibold-webfont.woff') format('woff'), url('../fonts/segoeui-semibold-webfont.ttf') format('truetype'), url('../fonts/segoeui-semibold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe Ui';
  src: url('../fonts/segoeui-black-webfont.eot');
  src: local('☺'), url('../fonts/segoeui-black-webfont.woff') format('woff'), url('../fonts/segoeui-black-webfont.ttf') format('truetype'), url('../fonts/segoeui-black-webfont.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
// ==========================================================================
// _MIXINS
// ========================================================================== */
// COLORS
.color-white(@opacity) { @color: rgba(255, 255, 255, @opacity); }
.color-black(@opacity) { @color: rgba(0, 0, 0, @opacity); }
// ROTATE
.rotate(@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
  -webkit-backface-visibility: hidden;
}
// GRADIENT
.gradient-y (@startColor, @endColor) {
  background-color: @startColor;
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
  background: linear-gradient(to bottom, @startColor, @endColor);
}
.translate-3d(@x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
  -moz-transform: translate3d(@x, @y, @z);
  -ms-transform: translate3d(@x, @y, @z);
  -o-transform: translate3d(@x, @y, @z);
  transform: translate3d(@x, @y, @z);
}
.transition-translate(@duration-menu) {
  -webkit-transition: -webkit-transform @duration;
  -moz-transition: -moz-transform @duration-menu;
  -ms-transition: -ms-transform @duration-menu;
  -o-transition: -o-transform @duration-menu;
  transition: transform @duration-menu;
}
/* ==========================================================================
   _GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 18px/28px @font-segoe;
  color: @color-black;
  background: @color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  min-width: @min-width;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 50px;
  background: @color-white;
  position: relative;
}
@media @md {
  body { padding-top: 124px; }
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p {
  margin: 0 0 @margin-sm;
}
ol {
  margin: @margin-sm 0 @margin-sm;
  padding: 0;
  list-style: none;
  counter-reset: item;

  li {
    margin-bottom: 16px;
    padding-left: 40px;
    position: relative;

    &:before {
      content: counter(item) ". ";
      counter-increment: item;
      color: @color-blue;
      font-size: 75%;
      font-weight: 900;
      position: absolute;
      left: 10px;
      top: 1px;
    }
  }
}
ul {
  margin: @margin-sm 0 @margin-sm;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 16px;
    padding-left: 36px;
    position: relative;

    &:before, &:after {
      .before;
      clear: both;
      width: 4px;
      height: 8px;
      background: @color-blue;
      border-radius: 10px;
      position: absolute;
    }
    &:before { .rotate(-45deg); top: 12px; left: 6px; }
    &:after { .rotate(45deg); height: 14px; top: 8px; left: 12px; }
  }
}
:focus { outline: -webkit-focus-ring-color auto 0; }
a {
  color: @color-blue;
  outline: none;
  text-decoration: underline;
  transition: color @duration;

  &:hover, &:focus {
    outline: none;
    text-decoration: none;
  }
}
audio, canvas, img, video { vertical-align: middle; }
.h-default {
  margin: 0;
  line-height: normal;
  font-weight: normal;
  font-family: @font-daxline;
}
.h1 {
  &:extend(.h-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 40px;
  line-height: 46px;
  font-style: normal;
}
.h2 {
  &:extend(.h-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 36px;
  line-height: 42px;
  font-style: normal;
}
.h3 {
  &:extend(.h-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 34px;
  line-height: 40px;
  font-style: normal;
}
.h4 {
  &:extend(.h-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
}
.h5 {
  &:extend(.h-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 26px;
  line-height: 32px;
  font-style: normal;
}
.h6 {
  &:extend(.h-default);
  margin: @margin-sm 0 @margin-sm;
  font-size: 22px;
  line-height: 28px;
  font-style: normal;
}
h1 {&:extend(.h1); }
h2 {&:extend(.h2); }
h3 {&:extend(.h3); }
h4 {&:extend(.h4); }
h5 {&:extend(.h5); }
h6 {&:extend(.h6); }
.h-center { text-align: center; }
@media @md {
  p { margin: 0 0 @margin-md; }
  ol, ul { margin: @margin-md 0 @margin-md; }
  .h1 { margin: @margin-md 0 @margin-md; }
  .h2 { margin: @margin-md 0 @margin-md; }
  .h3 { margin: @margin-md 0 @margin-md; }
  .h4 { margin: @margin-md 0 @margin-md; }
  .h5 { margin: @margin-md 0 @margin-md; }
  .h6 { margin: @margin-md 0 @margin-md; }
}
@media @lg {
  ol, ul { font-size: 20px; }
  .h1 { font-size: 50px; line-height: 56px; margin: 35px 0 35px; }
  .h2 { font-size: 40px; line-height: 40px; }
  .h3 { font-size: 36px; line-height: 40px; }
  .h4 { font-size: 32px; line-height: 38px; }
  .h5 { font-size: 28px; line-height: 34px; }
  .h6 { font-size: 24px; line-height: 30px; }
}
@media @xl {
  .h1 { font-size: 100px; line-height: 100px; margin: 35px 0 35px; }
  .h2 { font-size: 46px; line-height: 46px; }
  .h3 { font-size: 40px; line-height: 44px; }
  .h4 { font-size: 36px; line-height: 40px; }
  .h5 { font-size: 30px; line-height: 35px; }
}
/* ==========================================================================
   _CONTAINERS
   ========================================================================== */
.clearfix { display: table; content: '\0020'; clear: both; }
.before { display: block; content: '\0020'; overflow: hidden; }
.hidden { display: none; }
.mobile-hidden { display: none; }
/* Wrapper */
.wrapper {
  width: 100%;
  max-width: @md-width;
  padding: 0 15px;
  margin: 0 auto;
  &:after { .clearfix; }
}
/* PureCSS styles */
.pure-g {
  font-family: inherit;
  [class *="pure-u"] { font-family: inherit; }
}
.pure-menu-item:before { display: none; }
@media @md {
  .large { font-size: 32px; line-height: 40px; }
}
@media @lg {
  .mobile-hidden { display: block; }
  .wrapper { max-width: @lg-width; }
}
@media @xl {
  .wrapper { max-width: @xl-width; }
  &.wrapper-narrow {
    max-width: 750px;
  }
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}
/* INPUT & TEXTAREA */
input {
  height: 46px;
  padding: 10px 15px;
  font: 16px/24px @font-segoe;
  color: @color-black;
  background: @color-white;
  border: 1px solid @color-gray;
  border-radius: 0;
  transition: background-color @duration, border-color @duration;
  -webkit-appearance: none;

  &:focus { border-color: @color-blue; }
  .form-line & { width: 100%; }
}
textarea {
  &:extend(input);
  height: 134px;
  display: block;
  resize: none;

  &:focus { border-color: @color-blue; }
  .form-line & { width: 100%; }
}
::-webkit-input-placeholder { color: @color-black; }
:-moz-placeholder { color: @color-black; }
::-moz-placeholder { color: @color-black; }
:-ms-input-placeholder { color: @color-black; }
/* BUTTONS */
.button, button, input[type="submit"] {
  height: auto;
  padding: 26px 34px 16px;
  font: bold 18px/18px @font-daxline;
  display: inline-block;
  background: @color-blue;
  border-radius: 0;
  border: none;
  color: @color-white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .09em;
  transition: background @duration;

  &:hover, &:focus { background: @color-blue-light; }
  &:active { background: @color-blue-light; box-shadow: inset -2px 0 7px 0 rgba(0, 0, 0, 0.22); }

  .form-submit & { width: 100%; }

  &.button-black {
    background: @color-black;

    &:hover, &:focus { background: @color-dark; }
    &:active { background: @color-dark; box-shadow: inset -2px 0 7px 0 rgba(0, 0, 0, 0.95); }
  }

  &.button-orange {
    background: @color-orange;

    &:hover, &:focus { background: @color-orange-light; }
    &:active { background: @color-orange-light; box-shadow: inset -2px 0 7px 0 rgba(0, 0, 0, 0.22); }
  }
}
/* FORM LINE */
.form-line {
  margin-bottom: 16px;
  &:after { .clearfix; }
}
.form-submit {
  margin-top: 22px;
  &:after { .clearfix; }
}
.label {
  margin-bottom: 8px;
  display: block;
}
/* TABLE */
table {
  tr {
    th {
      padding: 10px 15px;
      text-align: left;
      background-color: @color-pink-light;
    }
    td {
      padding: 10px 15px;
      border-bottom: 2px solid @color-gray-light;
    }
  }
}
.table-scroll {
  width: auto;
  overflow-x: scroll;
}
@media @lg {
  table {
    tr {
      th { padding: 28px 30px; }
      td { padding: 26px 30px; }
    }
  }
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .wrapper {
    height: 100%;
    position: relative;
    cursor: default;
  }

  .logo {
    width: 196px;
    height: 16px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .slogan {
    width: 246px;
    margin: 0 auto;
    display: none;
    text-align: center;
    font: 11px @font-daxline;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
  }

  .tel {
    display: none;
    color: @color-black;
    text-decoration: none;
    cursor: default;
    font: 20px/24px @font-daxline;
    letter-spacing: .02em;
    position: absolute;
    left: 15px;
    top: 35px;
  }

  .language {
    padding-right: 18px;
    display: none;
    font: 14px/24px @font-daxline;
    color: @color-black;
    text-decoration: none;
    position: absolute;
    right: 85px;
    top: 36px;

    &:before {
      .before;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: @color-black transparent transparent transparent;
      position: absolute;
      right: 0;
      top: 8px;
      transition: border-color @duration;
    }

    &:hover {
      color: @color-blue;
      &:before { border-color: @color-blue transparent transparent transparent; }
    }
  }

  .toggle {
    width: 22px;
    height: 16px;
    display: block;
    border-top: 2px solid @color-black;
    border-bottom: 2px solid @color-black;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 20px;
    transition: border-color @duration;
    z-index: 1000;

    &:before {
      .before;
      height: 2px;
      background: @color-black;
      position: absolute;
      left: 0;
      right: 0;
      top: 5px;
      transition: background @duration;
    }

    &:hover {
      border-color: @color-blue;
      &:before { background: @color-blue; }
    }
  }

  .nav {
    display: none;
    box-shadow: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    &:before {
      .before;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      .color-black(.8);
      background: @color;
      transition: opacity @duration;
    }

    .nav-visible & { display: block; }
    .nav-done & {
      &:before { opacity: 1; }
    }

    .space {
      width: 250px;
      height: 100% !important;
      padding: 20px;
      background-color: @color-white;
      position: fixed;
      top: 0;
      right: -250px;
      bottom: 0;
      .translate-3d(0, 0, 0);
      .transition-translate(@duration-menu);

      .nav-done & { .translate-3d(-250px, 0, 0); }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      font-size: 14px;
      font-weight: bold;

      li {
        padding-left: 0;
        border-bottom: 2px solid @color-gray-light;

        &:before, &:after { display: none; }

        a {
          padding: 10px 0;
          display: block;
          color: @color-black;
          text-decoration: none;
        }
      }
    }
  }
  @media @md {
    height: 110px;
    .logo { width: 246px; height: 20px; top: 36px; }
    .slogan { display: block; }
    .tel, .language { display: block; }
    .toggle { top: 39px; }
  }
  @media @lg {
    .toggle { right: 96px; }
  }
  @media @xl {
    .tel { left: 182px; }
    .language { right: 258px; }
  }
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
  height: 60px;
  padding: 20px 0;

  .copyright {
    margin: 0;
    font: 14px @font-daxline;
    text-align: center;
    letter-spacing: .02em;
  }

  @media @md {
    height: 98px;
    padding: 44px 0;
  }
}
/* ==========================================================================
   _CONTACTS
   ========================================================================== */
.contacts {
  margin-top: 30px;
  padding: 30px 0;
  background: @color-pink-light;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  .pure-g {
    margin: 0 -15px;
    [class*="pure-u"] {
      padding: 0 15px 30px;

      &:last-of-type { padding-bottom: 0; }
    }
  }

  .heading {
    display: none;
    margin-bottom: 68px;
    text-align: center;

    img { width: 246px; height: 20px; }
  }

  .title {
    &:extend(.h5);
    margin: 0 0 20px;
  }

  .list {
    font-size: 16px;
    line-height: 24px;

    li {
      margin-bottom: 20px;
      padding: 0;
      &:before, &:after { display: none; }

      a {
        color: @color-black;
        text-decoration: none;

        &:hover { color: @color-blue; }
      }
    }
  }

  .tel {
    cursor: default;
    &:hover { color: @color-black; }
  }

  .develop {
    margin: 0;
    a {
      color: @color-black;
      text-decoration: none;
      &:hover { color: @color-blue; }
    }
  }

  form {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  @media @md {
    margin-top: 60px;
    padding: 44px 0 54px;
    text-align: left;
    .pure-g {
      [class*="pure-u"] { padding-bottom: 0; }
    }
    .heading { display: block; }
    .small { font: 14px/18px @font-daxline; }
    form { max-width: none; }
  }

  @media @lg {
    .develop {
      margin: 0;
      position: relative;
      top: 50px;
    }
  }
}
/* ==========================================================================
   _FAQ
   ========================================================================== */
.faq {
  .heading {
    &:extend(.h1);
    margin: @margin-md 0 @margin-md;
    text-align: center;
  }

  .item {
    margin-bottom: 30px;

    &:last-of-type { margin-bottom: 0; }

    .title {
      &:extend(.h4);
      margin: 0 0 8px;
      color: @color-blue;
      position: relative;
    }
  }

  @media @md {
    .item { margin-bottom: 50px; }
  }

  @media @lg {
    .item {
      .title {
        &:before {
          .before;
          width: 32px;
          height: 2px;
          background: @color-blue;
          position: absolute;
          left: -46px;
          top: 16px;
        }
      }
    }
  }
}
/* ==========================================================================
   _404
   ========================================================================== */
.page-404 {
  padding-bottom: 200px;
  background: url("@{images}/404.jpg") 50% 100% no-repeat;
  background-size: auto 200px;

  @media @sm {
    padding-bottom: 0;
    background: url("../img/404.jpg") 4% 50% no-repeat;
    background-size: 200px auto;
    .wrapper { padding-left: 230px; }
  }

  @media @md {
    background-position: 4% 0;
    background-size: auto 100%;
    .wrapper { padding-left: 320px; }
  }

  @media @lg {
    padding-bottom: 120px;
  }
}