/*
 * Project: Certifico
 * File: Main styles
 */
/*** Daxline Pro ***/
@font-face {
  font-family: 'Daxline Pro';
  src: url('../fonts/daxlinepro-thin-webfont.eot');
  src: local('☺'), url('../fonts/daxlinepro-thin-webfont.woff') format('woff'), url('../fonts/daxlinepro-thin-webfont.ttf') format('truetype'), url('../fonts/daxlinepro-thin-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Daxline Pro';
  src: url('../fonts/daxlinepro-bold-webfont.eot');
  src: local('☺'), url('../fonts/daxlinepro-bold-webfont.woff') format('woff'), url('../fonts/daxlinepro-bold-webfont.ttf') format('truetype'), url('../fonts/daxlinepro-bold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*** Segoe Ui ***/
@font-face {
  font-family: 'Segoe Ui';
  src: url('../fonts/segoeui-light-webfont.eot');
  src: local('☺'), url('../fonts/segoeui-light-webfont.woff') format('woff'), url('../fonts/segoeui-light-webfont.ttf') format('truetype'), url('../fonts/segoeui-light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe Ui';
  src: url('../fonts/segoeui-semibold-webfont.eot');
  src: local('☺'), url('../fonts/segoeui-semibold-webfont.woff') format('woff'), url('../fonts/segoeui-semibold-webfont.ttf') format('truetype'), url('../fonts/segoeui-semibold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe Ui';
  src: url('../fonts/segoeui-black-webfont.eot');
  src: local('☺'), url('../fonts/segoeui-black-webfont.woff') format('woff'), url('../fonts/segoeui-black-webfont.ttf') format('truetype'), url('../fonts/segoeui-black-webfont.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* ==========================================================================
   _GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 18px/28px 'Segoe Ui', Helvetica, sans-serif;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 110px;
  background: #fff;
  position: relative;
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p {
  margin: 0 0 28px;
}
ol {
  margin: 28px 0 28px;
  padding: 0;
  font-size: 20px;
  list-style: none;
  counter-reset: item;
}
ol li {
  margin-bottom: 16px;
  padding-left: 40px;
  position: relative;
}
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #2db8e9;
  font-size: 75%;
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 1px;
}
ul {
  margin: 28px 0 28px;
  padding: 0;
  font-size: 20px;
  list-style: none;
}
ul li {
  margin-bottom: 16px;
  padding-left: 36px;
  position: relative;
}
ul li:before,
ul li:after {
  display: block;
  content: '\0020';
  overflow: hidden;
  clear: both;
  width: 4px;
  height: 8px;
  background: #2db8e9;
  border-radius: 10px;
  position: absolute;
}
ul li:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-backface-visibility: hidden;
  top: 12px;
  left: 6px;
}
ul li:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-backface-visibility: hidden;
  height: 14px;
  top: 8px;
  left: 12px;
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
}
a {
  color: #2db8e9;
  outline: none;
  text-decoration: underline;
  transition: color 0.2s ease;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
.h-default,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: normal;
  font-weight: normal;
  font-family: 'Daxline Pro', Helvetica, sans-serif;
}
.h1,
h1 {
  margin: 28px 0 28px;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
}
.h2,
h2 {
  margin: 28px 0 28px;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
}
.h3,
h3 {
  margin: 28px 0 28px;
  font-size: 34px;
  line-height: 34px;
  font-style: normal;
}
.h4,
h4 {
  margin: 28px 0 28px;
  font-size: 32px;
  line-height: 32px;
  font-style: normal;
}
.h5,
h5 {
  margin: 28px 0 28px;
  font-size: 28px;
  line-height: 28px;
  font-style: normal;
}
.h6,
h6 {
  margin: 28px 0 28px;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
}
@media (min-width: 1000px) {
  .h1,
  h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 35px 0 35px;
  }
  .h2,
  h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .h3,
  h3 {
    font-size: 36px;
    line-height: 36px;
  }
  .h4,
  h4 {
    font-size: 32px;
    line-height: 32px;
  }
  .h5,
  h5 {
    font-size: 28px;
    line-height: 28px;
  }
  .h6,
  h6 {
    font-size: 26px;
    line-height: 26px;
  }
}
@media (min-width: 1280px) {
  .h1,
  h1 {
    font-size: 100px;
    line-height: 100px;
    margin: 35px 0 35px;
  }
  .h2,
  h2 {
    font-size: 46px;
    line-height: 46px;
  }
  .h3,
  h3 {
    font-size: 40px;
    line-height: 40px;
  }
  .h4,
  h4 {
    font-size: 36px;
    line-height: 36px;
  }
  .h5,
  h5 {
    font-size: 32px;
    line-height: 32px;
  }
  .h6,
  h6 {
    font-size: 28px;
    line-height: 28px;
  }
}
/* ==========================================================================
   _CONTAINERS
   ========================================================================== */
.clearfix {
  display: table;
  content: '\0020';
  clear: both;
}
.before {
  display: block;
  content: '\0020';
  overflow: hidden;
}
.hidden {
  display: none;
}
/* Wrapper */
.wrapper {
  width: 100%;
  max-width: 768px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper:after {
  display: table;
  content: '\0020';
  clear: both;
}
.wrapper.wrapper-narrow {
  max-width: 750px;
}
/* PureCSS styles */
.pure-g {
  font-family: inherit;
}
.pure-g [class*="pure-u"] {
  font-family: inherit;
}
.pure-menu-item:before {
  display: none;
}
@media (min-width: 1000px) {
  .large {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    max-width: 1130px;
  }
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}
table tr th {
  padding: 28px 30px;
  text-align: left;
  background-color: #fafafb;
}
table tr td {
  min-width: 200px;
  padding: 28px 30px;
  border-bottom: 2px solid #ededed;
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
  height: 110px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header .wrapper {
  position: relative;
  cursor: default;
}
.header .logo {
  width: 246px;
  height: 20px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 36px;
}
.header .logo img {
  width: 100%;
  height: auto;
  display: block;
}
.header .slogan {
  width: 246px;
  margin: 0 auto;
  text-align: center;
  font: 11px 'Daxline Pro', Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
}
.header .tel {
  display: block;
  color: #000;
  text-decoration: none;
  cursor: default;
  font: 20px/24px 'Daxline Pro', Helvetica, sans-serif;
  letter-spacing: .02em;
  position: absolute;
  left: 182px;
  top: 35px;
}
.header .language {
  padding-right: 18px;
  display: block;
  font: 14px/24px 'Daxline Pro', Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  position: absolute;
  right: 258px;
  top: 36px;
}
.header .language:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  right: 0;
  top: 8px;
  transition: border-color 0.2s ease;
}
.header .language:hover {
  color: #2db8e9;
}
.header .language:hover:before {
  border-color: #2db8e9 transparent transparent transparent;
}
.header .toggle {
  width: 22px;
  height: 16px;
  display: block;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  cursor: pointer;
  position: absolute;
  right: 96px;
  top: 39px;
  transition: border-color 0.2s ease;
}
.header .toggle:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  transition: background 0.2s ease;
}
.header .toggle:hover {
  border-color: #2db8e9;
}
.header .toggle:hover:before {
  background: #2db8e9;
}
.header .nav {
  display: none;
  box-shadow: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.header .nav:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.2s ease;
}
.nav-visible .header .nav {
  display: block;
}
.nav-done .header .nav:before {
  opacity: 1;
}
.header .nav .space {
  width: 250px;
  height: 100% !important;
  padding: 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -250px;
  bottom: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}
.nav-done .header .nav .space {
  -webkit-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
.header .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.header .nav ul li {
  padding-left: 0;
  border-bottom: 2px solid #ededed;
}
.header .nav ul li:before,
.header .nav ul li:after {
  display: none;
}
.header .nav ul li a {
  padding: 10px 0;
  display: block;
  color: #000;
  text-decoration: none;
}
