/*
 * Project: Certifico
 * File: Main styles
 */
/*** Daxline Pro ***/
@font-face {
  font-family: 'Daxline Pro';
  src: url('../fonts/daxlinepro-thin-webfont.eot');
  src: local('☺'), url('../fonts/daxlinepro-thin-webfont.woff') format('woff'), url('../fonts/daxlinepro-thin-webfont.ttf') format('truetype'), url('../fonts/daxlinepro-thin-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Daxline Pro';
  src: url('../fonts/daxlinepro-bold-webfont.eot');
  src: local('☺'), url('../fonts/daxlinepro-bold-webfont.woff') format('woff'), url('../fonts/daxlinepro-bold-webfont.ttf') format('truetype'), url('../fonts/daxlinepro-bold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Daxline Pro';
  src: url('../fonts/daxlinepro-extrabold-webfont.eot');
  src: local('☺'), url('../fonts/daxlinepro-extrabold-webfont.woff') format('woff'), url('../fonts/daxlinepro-extrabold-webfont.ttf') format('truetype'), url('../fonts/daxlinepro-extrabold-webfont.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/*** Segoe Ui ***/
@font-face {
  font-family: 'Segoe Ui';
  src: url('../fonts/segoeui-light-webfont.eot');
  src: local('☺'), url('../fonts/segoeui-light-webfont.woff') format('woff'), url('../fonts/segoeui-light-webfont.ttf') format('truetype'), url('../fonts/segoeui-light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe Ui';
  src: url('../fonts/segoeui-semibold-webfont.eot');
  src: local('☺'), url('../fonts/segoeui-semibold-webfont.woff') format('woff'), url('../fonts/segoeui-semibold-webfont.ttf') format('truetype'), url('../fonts/segoeui-semibold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe Ui';
  src: url('../fonts/segoeui-black-webfont.eot');
  src: local('☺'), url('../fonts/segoeui-black-webfont.woff') format('woff'), url('../fonts/segoeui-black-webfont.ttf') format('truetype'), url('../fonts/segoeui-black-webfont.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/*** Segoe Print ***/
@font-face {
  font-family: 'Segoe Print';
  src: url('../fonts/segoe-print-bold-webfont.eot');
  src: local('☺'), url('../fonts/segoe-print-bold-webfont.woff') format('woff'), url('../fonts/segoe-print-bold-webfont.ttf') format('truetype'), url('../fonts/segoe-print-bold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* ==========================================================================
   _GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 18px/28px 'Segoe Ui', Helvetica, sans-serif;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 70px;
  background: #fff;
  position: relative;
}
body.index {
  padding-top: 0;
}
@media (min-width: 568px) {
  body {
    padding-top: 130px;
  }
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p {
  margin: 0 0 18px;
}
ol {
  margin: 18px 0 18px;
  padding: 0;
  list-style: none;
  counter-reset: item;
}
ol li {
  margin-bottom: 16px;
  padding-left: 40px;
  position: relative;
}
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #2db8e9;
  font-size: 75%;
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 1px;
}
ul {
  margin: 18px 0 18px;
  padding: 0;
  list-style: none;
}
ul li {
  margin-bottom: 16px;
  padding-left: 36px;
  position: relative;
}
ul li:before,
ul li:after {
  display: block;
  content: '\0020';
  overflow: hidden;
  clear: both;
  width: 4px;
  height: 8px;
  background: #2db8e9;
  border-radius: 10px;
  position: absolute;
}
ul li:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-backface-visibility: hidden;
  top: 12px;
  left: 6px;
}
ul li:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-backface-visibility: hidden;
  height: 14px;
  top: 8px;
  left: 12px;
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
}
a {
  color: #2db8e9;
  outline: none;
  text-decoration: underline;
  transition: color 0.2s ease;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
.h-default,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
.contacts .title,
.faq .heading,
.faq .item .title,
.jobs .heading,
.jobs .item .title {
  margin: 0;
  line-height: normal;
  font-weight: normal;
  font-family: 'Daxline Pro', Helvetica, sans-serif;
}
.h1,
h1,
.faq .heading,
.jobs .heading {
  margin: 18px 0 18px;
  font-size: 40px;
  line-height: 46px;
  font-style: normal;
}
.h2,
h2 {
  margin: 18px 0 18px;
  font-size: 36px;
  line-height: 42px;
  font-style: normal;
}
.h3,
h3 {
  margin: 18px 0 18px;
  font-size: 34px;
  line-height: 40px;
  font-style: normal;
}
.h4,
h4,
.faq .item .title,
.jobs .item .title {
  margin: 18px 0 18px;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
}
.h5,
h5,
.contacts .title {
  margin: 18px 0 18px;
  font-size: 26px;
  line-height: 32px;
  font-style: normal;
}
.h6,
h6 {
  margin: 18px 0 18px;
  font-size: 22px;
  line-height: 28px;
  font-style: normal;
}
.h-center {
  text-align: center;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 28px;
  }
  ol,
  ul {
    margin: 28px 0 28px;
  }
  .h1,
  h1,
  .faq .heading,
  .jobs .heading {
    margin: 28px 0 28px;
  }
  .h2,
  h2 {
    margin: 28px 0 28px;
  }
  .h3,
  h3 {
    margin: 28px 0 28px;
  }
  .h4,
  h4,
  .faq .item .title,
  .jobs .item .title {
    margin: 28px 0 28px;
  }
  .h5,
  h5,
  .contacts .title {
    margin: 28px 0 28px;
  }
  .h6,
  h6 {
    margin: 28px 0 28px;
  }
}
@media (min-width: 1024px) {
  ol,
  ul {
    font-size: 20px;
  }
  .h1,
  h1,
  .faq .heading,
  .jobs .heading {
    font-size: 50px;
    line-height: 56px;
    margin: 35px 0 35px;
  }
  .h2,
  h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .h3,
  h3 {
    font-size: 36px;
    line-height: 40px;
  }
  .h4,
  h4,
  .faq .item .title,
  .jobs .item .title {
    font-size: 32px;
    line-height: 38px;
  }
  .h5,
  h5,
  .contacts .title {
    font-size: 28px;
    line-height: 34px;
  }
  .h6,
  h6 {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  .h1,
  h1,
  .faq .heading,
  .jobs .heading {
    font-size: 100px;
    line-height: 100px;
    margin: 35px 0 35px;
  }
  .h2,
  h2 {
    font-size: 46px;
    line-height: 46px;
  }
  .h3,
  h3 {
    font-size: 40px;
    line-height: 44px;
  }
  .h4,
  h4,
  .faq .item .title,
  .jobs .item .title {
    font-size: 36px;
    line-height: 40px;
  }
  .h5,
  h5,
  .contacts .title {
    font-size: 30px;
    line-height: 35px;
  }
}
/* ==========================================================================
   _CONTAINERS
   ========================================================================== */
.clearfix {
  display: table;
  content: '\0020';
  clear: both;
}
.before {
  display: block;
  content: '\0020';
  overflow: hidden;
}
.hidden {
  display: none;
}
.mobile-hidden {
  display: none;
}
/* Wrapper */
.wrapper {
  width: 100%;
  max-width: 768px;
  padding: 0 20px;
  margin: 0 auto;
}
.wrapper:after {
  display: table;
  content: '\0020';
  clear: both;
}
/* PureCSS styles */
.pure-g {
  font-family: inherit;
}
.pure-g [class*="pure-u"] {
  font-family: inherit;
}
.pure-menu-item:before {
  display: none;
}
@media (min-width: 768px) {
  .large {
    font-size: 32px;
    line-height: 40px;
  }
  .pure-g-default {
    margin: 0 -15px;
  }
  .pure-g-default [class*="pure-u"] {
    padding: 0 15px;
  }
}
@media (min-width: 1024px) {
  .mobile-hidden {
    display: block;
  }
  .wrapper {
    max-width: 860px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    max-width: 1140px;
  }
  .wrapper-narrow {
    max-width: 750px;
  }
}
@media (min-width: 1560px) {
  .wrapper {
    max-width: 1420px;
  }
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}
/* INPUT & TEXTAREA */
input,
textarea {
  height: 46px;
  padding: 10px 15px;
  font: 16px/24px 'Segoe Ui', Helvetica, sans-serif;
  color: #000;
  background: #fff;
  border: 1px solid #d3d1ce;
  border-radius: 0;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  -webkit-appearance: none;
}
input:focus {
  border-color: #2db8e9;
}
.form-line input {
  width: 100%;
}
textarea {
  height: 134px;
  display: block;
  resize: none;
}
textarea:focus {
  border-color: #2db8e9;
}
.form-line textarea {
  width: 100%;
}
::-webkit-input-placeholder {
  color: #000;
}
:-moz-placeholder {
  color: #000;
}
::-moz-placeholder {
  color: #000;
}
:-ms-input-placeholder {
  color: #000;
}
/* BUTTONS */
.button,
button,
input[type="submit"] {
  height: auto;
  padding: 26px 34px 16px;
  font: bold 18px/18px 'Daxline Pro', Helvetica, sans-serif;
  display: inline-block;
  background: #2db8e9;
  border-radius: 0;
  border: none;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .09em;
  transition: background 0.2s ease;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus {
  background: #59d0fa;
}
.button:active,
button:active,
input[type="submit"]:active {
  background: #59d0fa;
  box-shadow: inset -2px 0 7px 0 rgba(0, 0, 0, 0.22);
}
.form-submit .button,
.form-submit button,
.form-submit input[type="submit"] {
  width: 100%;
}
.button.button-black,
button.button-black,
input[type="submit"].button-black {
  background: #000;
}
.button.button-black:hover,
button.button-black:hover,
input[type="submit"].button-black:hover,
.button.button-black:focus,
button.button-black:focus,
input[type="submit"].button-black:focus {
  background: #414141;
}
.button.button-black:active,
button.button-black:active,
input[type="submit"].button-black:active {
  background: #414141;
  box-shadow: inset -2px 0 7px 0 rgba(0, 0, 0, 0.95);
}
.button.button-orange,
button.button-orange,
input[type="submit"].button-orange {
  background: #f26141;
}
.button.button-orange:hover,
button.button-orange:hover,
input[type="submit"].button-orange:hover,
.button.button-orange:focus,
button.button-orange:focus,
input[type="submit"].button-orange:focus {
  background: #ff8568;
}
.button.button-orange:active,
button.button-orange:active,
input[type="submit"].button-orange:active {
  background: #ff8568;
  box-shadow: inset -2px 0 7px 0 rgba(0, 0, 0, 0.22);
}
/* FORM LINE */
.form-line {
  margin-bottom: 16px;
}
.form-line:after {
  display: table;
  content: '\0020';
  clear: both;
}
.form-submit {
  margin-top: 22px;
}
.form-submit:after {
  display: table;
  content: '\0020';
  clear: both;
}
.label {
  margin-bottom: 8px;
  display: block;
}
/* TABLE */
table tr th {
  padding: 10px 15px;
  text-align: left;
  background-color: #fafafb;
}
table tr td {
  padding: 10px 15px;
  border-bottom: 2px solid #ededed;
}
.table-scroll {
  width: auto;
  overflow-x: scroll;
}
@media (min-width: 1024px) {
  table tr th {
    padding: 28px 30px;
  }
  table tr td {
    padding: 26px 30px;
  }
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header .wrapper {
  height: 100%;
  position: relative;
  cursor: default;
}
.header .logo {
  width: 196px;
  margin: 0 auto;
  padding: 20px 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.header .logo:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.header .logo:after {
  display: block;
  content: '\0020';
  overflow: hidden;
  clear: both;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 196px 0 0;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.header .logo img {
  width: 100%;
  height: auto;
  display: block;
}
.header .slogan {
  width: 246px;
  margin: 0 auto;
  display: none;
  text-align: center;
  font: 11px 'Daxline Pro', Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 10;
}
.header .tel {
  display: none;
  color: #000;
  text-decoration: none;
  cursor: default;
  font: 20px/24px 'Daxline Pro', Helvetica, sans-serif;
  letter-spacing: .02em;
  position: absolute;
  left: 36px;
  top: 36px;
}
.header .language {
  padding-right: 18px;
  display: none;
  font: 14px/24px 'Daxline Pro', Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  position: absolute;
  right: 110px;
  top: 36px;
}
.header .language:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  right: 0;
  top: 8px;
  transition: border-color 0.2s ease;
}
.header .language:hover {
  color: #2db8e9;
}
.header .language:hover:before {
  border-color: #2db8e9 transparent transparent transparent;
}
.header .toggle {
  width: 22px;
  height: 16px;
  display: block;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: border-color 0.2s ease;
  z-index: 1000;
}
.header .toggle:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  transition: background 0.2s ease;
}
.header .toggle:hover {
  border-color: #2db8e9;
}
.header .toggle:hover:before {
  background: #2db8e9;
}
.header .nav {
  display: none;
  box-shadow: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.header .nav:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.2s ease;
}
.nav-visible .header .nav {
  display: block;
}
.nav-done .header .nav:before {
  opacity: 1;
}
.header .nav .space {
  width: 250px;
  height: 100% !important;
  padding: 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -250px;
  bottom: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
}
.nav-done .header .nav .space {
  -webkit-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
.header .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.header .nav ul li {
  padding-left: 0;
  border-bottom: 2px solid #ededed;
}
.header .nav ul li:before,
.header .nav ul li:after {
  display: none;
}
.header .nav ul li a {
  padding: 10px 0;
  display: block;
  color: #000;
  text-decoration: none;
}
.index .header {
  color: #fff;
}
.index .header .slogan {
  color: #000;
}
.index .header .tel {
  color: #fff;
}
.index .header .language:not(:hover) {
  color: #fff;
}
.index .header .language:not(:hover):before {
  border-color: #fff transparent transparent transparent;
}
.index .header .toggle:not(:hover) {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.index .header .toggle:not(:hover):before {
  background: #fff;
}
@media (min-width: 568px) {
  .header {
    height: 130px;
  }
  .header .logo {
    width: 326px;
    padding: 36px 40px;
  }
  .header .logo:after {
    border-width: 22px 326px 0 0;
  }
  .header .toggle {
    top: 36px;
    right: 50%;
    margin-right: -210px;
  }
}
@media (min-width: 1024px) {
  .header .logo {
    width: 368px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 48px;
  }
  .header .logo:after {
    border-width: 22px 368px 0 0;
  }
  .header .toggle {
    margin-right: -410px;
  }
  .header .slogan {
    display: block;
  }
  .header .tel,
  .header .language {
    display: block;
  }
}
@media (min-width: 1280px) {
  .header .tel {
    left: 188px;
  }
  .header .language {
    right: 260px;
  }
  .header .toggle {
    margin-right: -550px;
  }
}
@media (min-width: 1560px) {
  .header .tel {
    left: 308px;
  }
  .header .language {
    right: 400px;
  }
  .header .toggle {
    margin-right: -690px;
  }
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
  height: 60px;
  padding: 20px 0;
  cursor: default;
}
.footer .copyright {
  margin: 0;
  font: 14px 'Daxline Pro', Helvetica, sans-serif;
  text-align: center;
  letter-spacing: .02em;
}
@media (min-width: 768px) {
  .footer {
    height: 98px;
    padding: 44px 0;
  }
}
/* ==========================================================================
   _SHAPE
   ========================================================================== */
.shape {
  width: 280px;
  padding: 16px 0 24px 16px;
  position: relative;
}
.shape:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  border-top: 2px solid #ece7e7;
  border-left: 2px solid #ece7e7;
  position: absolute;
  left: 0;
  top: 0;
  right: 16px;
  bottom: 8px;
}
.shape:after {
  display: block;
  content: '\0020';
  overflow: hidden;
  clear: both;
  height: 2px;
  background: #ece7e7;
  position: absolute;
  left: 0;
  right: 16px;
  bottom: 16px;
  -moz-transform: scale(1, 1.01) rotate(-5deg);
  -webkit-transform: scale(1, 1.01) rotate(-5deg);
  -o-transform: scale(1, 1.01) rotate(-5deg);
  -ms-transform: scale(1, 1.01) rotate(-5deg);
  transform: scale(1, 1.01) rotate(-5deg);
}
.shape .shape-area {
  width: 264px;
  padding: 24px 20px;
  background: #fff;
  position: relative;
}
.shape .shape-area:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  width: 100%;
  height: 40px;
  background: url("../img/triangle.png") 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.shape .shape-area:after {
  display: block;
  content: '\0020';
  overflow: hidden;
  clear: both;
  width: 2px;
  background: #ece7e7;
  position: absolute;
  right: 16px;
  bottom: 2px;
  top: -16px;
}
@media (min-width: 568px) {
  .shape {
    width: 456px;
  }
  .shape:after {
    -moz-transform: scale(1, 1.01) rotate(-3deg);
    -webkit-transform: scale(1, 1.01) rotate(-3deg);
    -o-transform: scale(1, 1.01) rotate(-3deg);
    -ms-transform: scale(1, 1.01) rotate(-3deg);
    transform: scale(1, 1.01) rotate(-3deg);
  }
  .shape .shape-area {
    width: 440px;
    padding: 44px 30px;
  }
  .shape .shape-area:before {
    border-width: 26px 440px 0 0;
  }
}
@media (min-width: 1560px) {
  .shape {
    width: 498px;
  }
  .shape .shape-area {
    width: 480px;
  }
}
/* ==========================================================================
   _CONTACTS
   ========================================================================== */
.contacts {
  margin-top: 30px;
  padding: 30px 0;
  background: #fafafb;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.contacts .pure-g {
  margin: 0 -15px;
}
.contacts .pure-g [class*="pure-u"] {
  padding: 0 15px 30px;
}
.contacts .pure-g [class*="pure-u"]:last-of-type {
  padding-bottom: 0;
}
.contacts .heading {
  display: none;
  margin-bottom: 68px;
  text-align: center;
}
.contacts .heading img {
  width: 246px;
  height: 20px;
}
.contacts .title {
  margin: 0 0 20px;
}
.contacts .list {
  font-size: 16px;
  line-height: 24px;
}
.contacts .list li {
  margin-bottom: 20px;
  padding: 0;
}
.contacts .list li:before,
.contacts .list li:after {
  display: none;
}
.contacts .list li a {
  color: #000;
  text-decoration: none;
}
.contacts .list li a:hover {
  text-decoration: underline;
}
.contacts .tel {
  cursor: default;
}
.contacts .tel:hover {
  color: #000;
}
.contacts .develop {
  margin: 0;
}
.contacts .develop a {
  color: #000;
  text-decoration: none;
}
.contacts .develop a:hover {
  color: #2db8e9;
}
.contacts form {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
@media (min-width: 768px) {
  .contacts {
    margin-top: 60px;
    padding: 44px 0 54px;
    text-align: left;
  }
  .contacts .pure-g [class*="pure-u"] {
    padding-bottom: 0;
  }
  .contacts .heading {
    display: block;
  }
  .contacts .small {
    font: 14px/18px 'Daxline Pro', Helvetica, sans-serif;
  }
  .contacts form {
    max-width: none;
  }
}
@media (min-width: 1024px) {
  .contacts .develop {
    margin: 0;
    position: relative;
    top: 50px;
  }
}
/* ==========================================================================
   _FAQ
   ========================================================================== */
.faq .heading {
  margin: 28px 0 28px;
  text-align: center;
}
.faq .item {
  margin-bottom: 30px;
}
.faq .item:last-of-type {
  margin-bottom: 0;
}
.faq .item .title {
  margin: 0 0 8px;
  color: #2db8e9;
  position: relative;
}
@media (min-width: 768px) {
  .faq .item {
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .faq .item .title:before {
    display: block;
    content: '\0020';
    overflow: hidden;
    width: 32px;
    height: 2px;
    background: #2db8e9;
    position: absolute;
    left: -46px;
    top: 16px;
  }
}
/* ==========================================================================
   _404
   ========================================================================== */
.page-404 {
  padding-bottom: 200px;
  background: url("../img/404.jpg") 50% 100% no-repeat;
  background-size: auto 200px;
}
@media (min-width: 568px) {
  .page-404 {
    padding-bottom: 0;
    background-position: 4% 50%;
    background-size: 200px auto;
  }
  .page-404 .wrapper {
    padding-left: 230px;
  }
}
@media (min-width: 768px) {
  .page-404 {
    background-position: 4% 0;
    background-size: auto 100%;
  }
  .page-404 .wrapper {
    padding-left: 320px;
  }
}
@media (min-width: 1024px) {
  .page-404 {
    padding-bottom: 120px;
  }
}
/* ==========================================================================
   _JOBS
   ========================================================================== */
.jobs .heading {
  margin: 28px 0 28px;
  text-align: center;
}
.jobs .item {
  margin-bottom: 40px;
}
.jobs .item:last-of-type {
  margin-bottom: 0;
}
.jobs .item .title {
  margin: 0 0 8px;
  color: #2db8e9;
}
.jobs .item ul {
  margin: 10px 0 18px;
  font-size: 18px;
  line-height: 22px;
}
.jobs .item ul li:before {
  top: 10px;
}
.jobs .item ul li:after {
  top: 6px;
}
.jobs .item .bottom {
  text-align: center;
}
.jobs .item .bottom:after {
  display: table;
  content: '\0020';
  clear: both;
}
.jobs .item .bottom .salary {
  margin-bottom: 10px;
  display: block;
  color: #2db8e9;
  font-size: 24px;
  line-height: normal;
}
.jobs .item .bottom .button {
  width: 100%;
}
@media (min-width: 568px) {
  .jobs .item .bottom {
    text-align: left;
  }
  .jobs .item .bottom .salary {
    margin-bottom: 0;
    float: left;
    position: relative;
    top: 14px;
  }
  .jobs .item .bottom .button {
    width: auto;
    float: right;
  }
}
@media (min-width: 768px) {
  .jobs {
    padding-bottom: 24px;
  }
  .jobs .item {
    margin-bottom: 136px;
  }
  .jobs .item .bottom .salary {
    font-size: 32px;
    line-height: 40px;
    top: 5px;
  }
}
/* ==========================================================================
   _JUMBOTRON
   ========================================================================== */
.jumbotron {
  height: 100%;
  padding-bottom: 30px;
  overflow: hidden;
  color: #fff;
  position: relative;
}
.jumbotron.slick-initialized {
  overflow: visible;
  padding-bottom: 0;
}
.jumbotron.slick-initialized .slick-list {
  height: 100%;
  padding-bottom: 30px;
}
.jumbotron.slick-initialized .slick-track {
  height: 100%;
}
.jumbotron.slick-initialized .slick-dots {
  max-height: 34px;
  margin: auto 0 auto -382px;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 50%;
  text-align: center;
  z-index: 1001;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-backface-visibility: hidden;
}
.jumbotron.slick-initialized .slick-dots li {
  margin: 0 7px;
  padding: 0;
  display: inline-block;
}
.jumbotron.slick-initialized .slick-dots li:before,
.jumbotron.slick-initialized .slick-dots li:after {
  display: none;
}
.jumbotron.slick-initialized .slick-dots li .dots {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  opacity: .21;
}
.jumbotron.slick-initialized .slick-dots li.slick-active .dots {
  opacity: 1;
}
.jumbotron .item {
  height: 100%;
  margin-bottom: 30px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.jumbotron .item:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  height: 30px;
  background: url("../img/triangle.png") 0 100% no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.jumbotron .item .shape {
  margin: 0 auto;
  text-align: center;
  font: 18px/24px 'Daxline Pro', Helvetica, sans-serif;
  position: absolute;
  bottom: -16px;
  left: 0;
  right: 0;
  z-index: 100;
}
.jumbotron .item .shape:before {
  bottom: 16px;
  opacity: .94;
}
.jumbotron .item .shape:after {
  bottom: 27px;
  opacity: .94;
}
.jumbotron .item .shape .shape-area {
  min-height: 264px;
  margin: 0 auto;
  background: rgba(255, 102, 68, 0.94);
}
.jumbotron .item .shape .shape-area:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: rgba(255, 102, 68, 0.94) transparent transparent transparent;
  background: transparent;
  top: 100%;
}
.jumbotron .item .shape .shape-area:after {
  bottom: 16px;
  opacity: .94;
}
.jumbotron .item .shape .shape-area.blue-area {
  background: rgba(45, 184, 233, 0.94);
}
.jumbotron .item .shape .shape-area.blue-area:before {
  border-color: rgba(45, 184, 233, 0.94) transparent transparent transparent;
}
.jumbotron .item .shape .heading {
  margin: 0 0 8px;
  font-size: 30px;
  line-height: 34px;
}
.jumbotron .item .shape p:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 568px) {
  .jumbotron {
    height: 770px;
  }
  .jumbotron.slick-initialized {
    height: auto;
  }
  .jumbotron.slick-initialized .slick-list {
    height: auto;
    padding-bottom: 0;
  }
  .jumbotron.slick-initialized .slick-list .slick-slide {
    min-height: 740px;
  }
  .jumbotron .item {
    padding-top: 375px;
  }
  .jumbotron .item .shape {
    margin-bottom: -40px;
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;
  }
  .jumbotron .item .shape .shape-area {
    min-height: 344px;
  }
  .jumbotron .item .shape .heading {
    font-size: 46px;
    line-height: 55px;
  }
}
@media (min-width: 1024px) {
  .jumbotron.slick-initialized .slick-list .slick-slide {
    min-height: 750px;
    margin-bottom: 0;
  }
  .jumbotron.slick-initialized .slick-dots {
    margin-left: -560px;
  }
  .jumbotron:before {
    display: block;
    content: '\0020';
    overflow: hidden;
    height: 70px;
    background: url("../img/triangle.png") 0 100% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .jumbotron .item {
    padding-top: 210px;
    padding-bottom: 160px;
  }
  .jumbotron .item:before {
    display: none;
  }
  .jumbotron .item .shape {
    margin-bottom: 0;
    float: right;
  }
}
@media (min-width: 1280px) {
  .jumbotron {
    height: 780px;
    margin-bottom: 18px;
  }
}
@media (min-width: 1560px) {
  .jumbotron {
    height: 910px;
  }
  .jumbotron:before {
    height: 100px;
  }
  .jumbotron.slick-initialized .slick-list .slick-slide {
    min-height: 910px;
  }
  .jumbotron.slick-initialized .slick-dots {
    margin-left: -760px;
    top: 270px;
  }
}
/* ==========================================================================
   _TESTIMONIALS
   ========================================================================== */
.testimonials .heading {
  margin-bottom: 40px;
  text-align: center;
}
.testimonials .list {
  height: 554px;
  overflow: hidden;
}
.testimonials .list:after {
  display: table;
  content: '\0020';
  clear: both;
}
.testimonials .list.slick-initialized {
  height: auto;
  overflow: visible;
}
.testimonials .list .item {
  max-width: 450px;
  margin: 0 auto;
  color: #fff;
  line-height: 30px;
}
.testimonials .list .item .shape {
  width: 100%;
  padding: 20px 0 24px 20px;
}
.testimonials .list .item .shape:before {
  bottom: 38px;
}
.testimonials .list .item .shape:after {
  bottom: 56px;
  z-index: -1;
}
.testimonials .list .item .shape .shape-area {
  width: 100%;
  padding: 40px 30px 60px;
  background-position: 30% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials .list .item .shape .shape-area:before {
  width: 100%;
  height: 30px;
  background: url("../img/triangle.png") 0 0 no-repeat;
  background-size: 100% 100%;
  border: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
}
.testimonials .list .item .shape .shape-area:after {
  z-index: -1;
  top: -20px;
  bottom: 52px;
}
.testimonials .list .item .name {
  min-height: 60px;
  margin: 0 0 20px;
  font: bold 16px/20px 'Segoe Print', Helvetica, sans-serif;
}
.testimonials .list .item .name span {
  display: block;
}
.testimonials .list .item .text {
  min-height: 320px;
  margin-bottom: 18px;
  padding-right: 60px;
}
.testimonials .list .item .text p:last-of-type {
  margin-bottom: 0;
}
.testimonials .list .item .button {
  padding-left: 24px;
  padding-right: 24px;
  display: inline-block;
  vertical-align: middle;
}
.testimonials .list .item .icon-logo {
  width: auto;
  height: 58px;
  margin: 0 0 0 26px;
  display: inline-block;
  vertical-align: middle;
}
.testimonials .list .item:nth-of-type(odd) .shape:before {
  bottom: 74px;
}
.testimonials .list .item:nth-of-type(odd) .shape:after {
  -moz-transform: scale(1, 1.01) rotate(5deg);
  -webkit-transform: scale(1, 1.01) rotate(5deg);
  -o-transform: scale(1, 1.01) rotate(5deg);
  -ms-transform: scale(1, 1.01) rotate(5deg);
  transform: scale(1, 1.01) rotate(5deg);
}
.testimonials .list .item:nth-of-type(odd) .shape .shape-area:before {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.testimonials .list .item:nth-of-type(odd) .shape .shape-area:after {
  bottom: 14px;
}
@media (min-width: 568px) {
  .testimonials .list .item .shape .shape-area {
    padding: 36px 36px 60px;
  }
  .testimonials .list .item .text {
    min-height: 336px;
  }
  .testimonials .list .item:nth-of-type(odd) .shape:after {
    bottom: 56px;
    -moz-transform: scale(1, 1.01) rotate(3deg);
    -webkit-transform: scale(1, 1.01) rotate(3deg);
    -o-transform: scale(1, 1.01) rotate(3deg);
    -ms-transform: scale(1, 1.01) rotate(3deg);
    transform: scale(1, 1.01) rotate(3deg);
  }
  .testimonials .list .item:nth-of-type(odd) .shape .shape-area:after {
    bottom: 19px;
  }
}
@media (min-width: 768px) {
  .testimonials .list .item {
    max-width: none;
  }
  .testimonials .list .item .text {
    padding-right: 280px;
  }
}
@media (min-width: 1024px) {
  .testimonials .list .item:nth-of-type(odd) .shape:after {
    bottom: 54px;
  }
}
@media (min-width: 1280px) {
  .testimonials .list {
    height: auto;
    margin: 0 -32px;
    overflow: visible;
  }
  .testimonials .list .item {
    width: 50%;
    padding: 0 20px;
    float: left;
  }
  .testimonials .list .item .text {
    padding-right: 180px;
  }
  .testimonials .list .item .name {
    margin-bottom: 34px;
  }
}
@media (min-width: 1560px) {
  .testimonials .list {
    margin: 0 -40px;
  }
  .testimonials .list .item {
    padding: 0 40px;
  }
}
/* ==========================================================================
   _ABOUT
   ========================================================================== */
.about {
  padding: 75px 0 25px;
}
.about .heading {
  margin: 0 0 10px;
  text-align: center;
}
.about .list {
  padding-top: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}
.about .list:after {
  display: table;
  content: '\0020';
  clear: both;
}
.about .list.slick-initialized .slick-slide {
  margin-bottom: 0;
}
.about .list.slick-initialized .slick-dots {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.about .list.slick-initialized .slick-dots li {
  margin: 0 7px;
  padding: 0;
  display: inline-block;
}
.about .list.slick-initialized .slick-dots li:before,
.about .list.slick-initialized .slick-dots li:after {
  display: none;
}
.about .list.slick-initialized .slick-dots li .dots {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background: #998675;
  cursor: pointer;
  opacity: .21;
}
.about .list.slick-initialized .slick-dots li.slick-active .dots {
  opacity: 1;
}
.about .list .item {
  margin: 0 0 40px;
}
.about .list .item .item-area {
  max-width: 450px;
  margin: 0 auto;
}
.about .list .item .shape {
  width: 100%;
  margin: 0 0 10px;
  padding-top: 14px;
  padding-left: 14px;
}
.about .list .item .shape:before {
  bottom: 36px;
}
.about .list .item .shape:after {
  bottom: 40px;
  -moz-transform: scale(1, 1.01) rotate(-3deg);
  -webkit-transform: scale(1, 1.01) rotate(-3deg);
  -o-transform: scale(1, 1.01) rotate(-3deg);
  -ms-transform: scale(1, 1.01) rotate(-3deg);
  transform: scale(1, 1.01) rotate(-3deg);
  z-index: -1;
}
.about .list .item .shape .shape-area {
  width: 100%;
  padding: 0;
}
.about .list .item .shape .shape-area:before {
  width: 100%;
  height: 18px;
  background: url("../img/triangle.png") 0 0 no-repeat;
  background-size: 100% 100%;
  border: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
}
.about .list .item .shape .shape-area:after {
  top: -14px;
  bottom: 22px;
  z-index: -1;
}
.about .list .item .shape .shape-area img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.about .list .item .title {
  margin: 0;
  font: 900 20px/24px 'Daxline Pro', Helvetica, sans-serif;
  color: #2db8e9;
}
@media (min-width: 768px) {
  .about .list {
    margin: 0 -15px;
  }
  .about .list .item {
    width: 33.3%;
    padding: 0 15px;
    float: left;
  }
  .about .list .item:nth-of-type(3n+1) {
    clear: left;
  }
  .about .list .item .item-area {
    max-width: none;
  }
  .about .list .item .shape {
    margin-left: -8px;
    margin-right: -8px;
  }
  .about .list.slick-initialized .slick-slide {
    clear: none !important;
  }
}
@media (min-width: 1280px) {
  .about .list .item {
    width: 25%;
  }
  .about .list .item:nth-of-type(3n+1) {
    clear: none;
  }
  .about .list .item:nth-of-type(4n+1) {
    clear: left;
  }
}
@media (min-width: 1560px) {
  .about .shape {
    margin-left: -5px;
    margin-right: -5px;
  }
}
/* ==========================================================================
   _BLOCKQUOTE
   ========================================================================== */
.blockquote {
  margin: 0;
  padding-top: 278px;
  background: #f3f6f9 url("../img/temp/picture-1.jpg") 50% 0 no-repeat;
  background-size: auto 320px;
}
.blockquote .pure-g {
  padding-right: 65px;
}
.blockquote .quote {
  padding: 62px 30px 76px;
  border-top: 1px solid #2db8e9;
  border-left: 1px solid #2db8e9;
  line-height: 30px;
  position: relative;
}
.blockquote .quote:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  height: 1px;
  background: #2db8e9;
  -moz-transform: scale(1, 1.01) rotate(-4deg);
  -webkit-transform: scale(1, 1.01) rotate(-4deg);
  -o-transform: scale(1, 1.01) rotate(-4deg);
  -ms-transform: scale(1, 1.01) rotate(-4deg);
  transform: scale(1, 1.01) rotate(-4deg);
  position: absolute;
  bottom: 22px;
  left: -2px;
  right: -2px;
}
.blockquote .quote:after {
  display: block;
  content: '\0020';
  overflow: hidden;
  clear: both;
  width: 65px;
  background: url("../img/arrow.png") 0 0 no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 100%;
  top: -2px;
  bottom: 46px;
}
.blockquote .quote p:last-of-type {
  margin-bottom: 0;
}
.blockquote .name {
  text-align: right;
  font: bold 18px/28px 'Segoe Print', Helvetica, sans-serif;
  color: #2db8e9;
}
.blockquote .name span {
  display: block;
}
.blockquote .name cite {
  font-style: normal;
}
@media (min-width: 1024px) {
  .blockquote {
    padding: 70px 0 20px;
    background-size: auto 100%;
    background-position: 250px 0;
  }
  .blockquote .pure-g {
    padding-right: 0;
  }
  .blockquote .quote {
    padding-left: 46px;
    padding-right: 46px;
    border-top-width: 2px;
    border-left-width: 2px;
  }
  .blockquote .quote:before {
    height: 2px;
    bottom: 16px;
  }
  .blockquote .quote:after {
    width: 120px;
    bottom: 32px;
  }
}
@media (min-width: 1280px) {
  .blockquote {
    background-position: 100% 0;
  }
}
@media (min-width: 1560px) {
  .blockquote {
    padding-top: 90px;
  }
  .blockquote .quote {
    padding-left: 76px;
    padding-right: 76px;
  }
}
/* ==========================================================================
   _ARTICLES
   ========================================================================== */
/*** Article ***/
.article {
  max-width: 450px;
  margin: 0 auto 35px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.article .shape {
  width: auto;
  margin-bottom: 30px;
  padding-bottom: 0;
}
.article .shape:before {
  border-top: none;
  border-bottom: 2px solid #ece7e7;
  bottom: 38px;
  top: 22px;
  z-index: 1;
}
.article .shape:after {
  bottom: auto;
  top: 10px;
}
.article .shape .shape-area {
  width: auto;
  margin: 0;
  padding: 0;
}
.article .shape .shape-area:before {
  width: 100%;
  height: 40px;
  border: none;
  background: url("../img/triangle.png") 0 0 no-repeat;
  background-size: cover;
  bottom: auto;
  top: 0;
  left: 0;
  right: 0;
  -moz-transform: scale(1, 1.01) rotate(180deg);
  -webkit-transform: scale(1, 1.01) rotate(180deg);
  -o-transform: scale(1, 1.01) rotate(180deg);
  -ms-transform: scale(1, 1.01) rotate(180deg);
  transform: scale(1, 1.01) rotate(180deg);
}
.article .shape .shape-area:after {
  bottom: 16px;
}
.article .shape .shape-area img {
  width: 100%;
  height: auto;
  display: block;
}
.article .text {
  padding: 0 20px;
}
.article .title {
  margin: 0 0 10px;
}
@media (min-width: 1024px) {
  .article {
    max-width: none;
    margin-top: 30px;
    margin-bottom: 24px;
  }
}
/*** Article-simple ***/
.article-simple {
  max-width: 450px;
  margin: 0 auto 38px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.article-simple .shape {
  width: auto;
  margin-bottom: 32px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 16px;
}
.article-simple .shape:before {
  border-top: none;
  border-bottom: 2px solid #ece7e7;
  bottom: 16px;
  top: 22px;
  left: 16px;
  right: 0;
  z-index: 1;
}
.article-simple .shape:after {
  bottom: auto;
  top: 10px;
  left: 16px;
  right: 0;
}
.article-simple .shape .shape-area {
  width: auto;
  margin: 0;
  padding: 0;
}
.article-simple .shape .shape-area:before {
  width: 100%;
  height: 40px;
  border: none;
  background: url("../img/triangle.png") 0 0 no-repeat;
  background-size: cover;
  bottom: auto;
  top: 0;
  left: 0;
  right: 0;
  -moz-transform: scale(1, 1.01) rotate(180deg);
  -webkit-transform: scale(1, 1.01) rotate(180deg);
  -o-transform: scale(1, 1.01) rotate(180deg);
  -ms-transform: scale(1, 1.01) rotate(180deg);
  transform: scale(1, 1.01) rotate(180deg);
}
.article-simple .shape .shape-area:after {
  bottom: 16px;
  right: -16px;
}
.article-simple .shape .shape-area img {
  width: 100%;
  height: auto;
  display: block;
}
.article-simple .title {
  margin: 0 0 6px;
}
@media (min-width: 1024px) {
  .article-simple {
    max-width: none;
    margin-top: -20px;
    margin-bottom: 24px;
    z-index: 2;
  }
  .article-simple .title {
    margin-bottom: 20px;
  }
}
/*** Article-picture ***/
.article-picture {
  max-width: 450px;
  min-height: 570px;
  margin: 0 auto 44px;
  padding-left: 86px;
  padding-bottom: 34px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.article-picture .shape {
  width: auto;
}
.article-picture .shape .shape-area {
  width: auto;
  margin: 0;
  padding: 0;
}
.article-picture .shape .shape-area img {
  width: 100%;
  height: auto;
  display: block;
}
.article-picture .text {
  position: absolute;
  left: 0;
  right: 100px;
  top: 56px;
  z-index: 2;
}
.article-picture .text .text-area {
  padding: 40px 28px;
  background: #efefef;
}
.article-picture .text .text-area p:last-of-type {
  margin-bottom: 0;
}
.article-picture .text .text-area ul {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}
.article-picture .text .text-area.text-black {
  color: #fff;
  background: #000;
}
.article-picture .text .text-area.text-black ul li {
  padding-left: 22px;
}
.article-picture .text .text-area.text-black ul li:before {
  width: 8px;
  height: 8px;
  background: url("../img/icons/check.png") 0 0 no-repeat;
  background-size: cover;
  top: 6px;
  left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-backface-visibility: hidden;
}
.article-picture .text .text-area.text-black ul li:after {
  display: none;
}
.article-picture .button {
  float: right;
  position: relative;
  top: -26px;
}
.article-picture:not(.article-right) .shape:before {
  border-top: none;
  border-bottom: 2px solid #ece7e7;
  bottom: 38px;
  top: 22px;
  z-index: 1;
}
.article-picture:not(.article-right) .shape:after {
  bottom: auto;
  top: 10px;
}
.article-picture:not(.article-right) .shape .shape-area:before {
  width: 100%;
  height: 40px;
  border: none;
  background: url("../img/triangle.png") 0 0 no-repeat;
  background-size: cover;
  bottom: auto;
  top: 0;
  left: 0;
  right: 0;
  -moz-transform: scale(1, 1.01) rotate(180deg);
  -webkit-transform: scale(1, 1.01) rotate(180deg);
  -o-transform: scale(1, 1.01) rotate(180deg);
  -ms-transform: scale(1, 1.01) rotate(180deg);
  transform: scale(1, 1.01) rotate(180deg);
}
.article-picture:not(.article-right) .shape .shape-area:after {
  bottom: 16px;
}
.article-picture:not(.article-right) .title {
  margin: 0 0 18px;
  font-size: 46px;
  line-height: 55px;
}
.article-picture.article-right {
  min-height: 520px;
  padding-left: 0;
  padding-right: 104px;
  padding-top: 40px;
  padding-bottom: 0;
}
.article-picture.article-right .title {
  margin: 0 0 44px;
}
.article-picture.article-right .text {
  right: 0;
  left: 100px;
  top: 0;
}
.article-picture.article-right .text .text-area {
  padding-top: 30px;
  padding-bottom: 44px;
}
@media (min-width: 1024px) {
  .article-picture {
    max-width: none;
    margin-bottom: 20px;
    padding-left: 25px;
  }
  .article-picture .text {
    width: 348px;
    margin-right: -80px;
    right: auto;
    top: 26px;
  }
  .article-picture:not(.article-right) .title {
    margin-bottom: 20px;
    font-size: 55px;
    line-height: 62px;
  }
  .article-picture.article-right {
    padding-left: 0;
    padding-right: 100px;
    padding-top: 90px;
  }
  .article-picture.article-right .text {
    right: 0;
    left: auto;
  }
}
@media (min-width: 1280px) {
  .article-picture {
    padding-left: 170px;
  }
  .article-picture .title {
    font-size: 55px;
    line-height: 62px;
  }
  .article-picture.article-right {
    padding-left: 0;
    padding-right: 300px;
  }
}
/*** Article-icon ***/
.article-icon {
  max-width: 450px;
  margin: 60px auto 36px;
  padding: 20px 20px 40px;
  background: #efefef;
  text-align: center;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}
.article-icon:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  width: 100%;
  height: 40px;
  background: url("../img/triangle.png") 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.article-icon .icon {
  width: 202px;
  height: 202px;
  margin: 0 auto -40px;
  display: block;
  position: relative;
  top: -60px;
}
.article-icon p:last-of-type {
  margin-bottom: 0;
}
.article-icon .carousel {
  height: 166px;
  overflow: hidden;
}
.article-icon .carousel.slick-initialized {
  height: auto;
  overflow: visible;
}
.article-icon .carousel.slick-initialized .slick-dots {
  margin: 30px 0 0;
  text-align: center;
}
.article-icon .carousel.slick-initialized .slick-dots li {
  margin: 0 7px;
  padding: 0;
  display: inline-block;
}
.article-icon .carousel.slick-initialized .slick-dots li:before,
.article-icon .carousel.slick-initialized .slick-dots li:after {
  display: none;
}
.article-icon .carousel.slick-initialized .slick-dots li .dots {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background: #998675;
  cursor: pointer;
  opacity: .21;
}
.article-icon .carousel.slick-initialized .slick-dots li.slick-active .dots {
  opacity: 1;
}
.article-icon .carousel .item {
  padding: 0 20px;
}
.article-icon.article-right {
  margin-top: 64px;
  margin-bottom: 60px;
  padding-bottom: 26px;
}
.article-icon.article-right:before {
  bottom: auto;
  top: 0;
  -moz-transform: scale(1, 1.01) rotate(180deg);
  -webkit-transform: scale(1, 1.01) rotate(180deg);
  -o-transform: scale(1, 1.01) rotate(180deg);
  -ms-transform: scale(1, 1.01) rotate(180deg);
  transform: scale(1, 1.01) rotate(180deg);
}
.article-icon.article-right .icon {
  top: -76px;
  margin-bottom: -50px;
}
.article-icon .title {
  margin: 0 0 10px;
}
@media (min-width: 1024px) {
  .article-icon {
    max-width: none;
    margin-top: 116px;
    margin-bottom: 24px;
  }
  .article-icon .icon {
    margin: 0 auto -80px;
    top: -100px;
  }
  .article-icon .carousel.slick-initialized .slick-dots {
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .article-icon .carousel.slick-initialized .slick-dots {
    margin: 24px 0 6px;
  }
}
